/* Social Icons */
.icons {
    color: rgb(0, 225, 135);
    text-decoration: none;
    font-size: 30px;
}

.icons li {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
    color: rgb(0, 225, 135);
    text-decoration: none;
}

.icons ul{
    margin-left: -30px;
}

.icons .icons-c{
    color: rgb(0, 225, 135);
    text-decoration: none;
}